@import '../../mixins/animate'

@keyframes animate
	from
		opacity 0
		transform translate3d(0, 100%, 0)

	to
		opacity 1
		transform none

.container
	display flex
	height 340px
	width 230px

.item
	fadeIn(.9s)
	background-position center
	background-repeat no-repeat
	background-size cover
	border-radius 2px
	box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
	cursor pointer
	display flex
	flex-direction column
	height 300px
	justify-content flex-end
	left 15px
	position relative
	top 20px
	transition all .2s ease
	width 200px

	&:hover
		height 330px
		left 6px
		top 5px
		width 220px

		& > .description
			animation-delay .2s
			animation-duration .1s
			animation-fill-mode both
			animation-name animate
			display flex

.description
	align-items flex-start
	background-color rgba(255, 255, 255, .9)
	border-bottom-left-radius 2px
	border-bottom-right-radius 2px
	display none
	flex-direction column
	height 70%
	padding 15px
	text-align left

.title
	color #333
	margin-bottom 10px

.tagline
	color #666
	font-size .9em

.genres
	border-top 1px solid #aaa
	display flex
	flex-direction column
	margin-top 10px
	padding-top 10px
	width 100%

.genre
	color #777
	font-size .9em
