@import '../../mixins/animate'

@keyframes swipeUp
	from
		opacity 0
		transform translate3d(0, 100%, 0)

	to
		opacity 1
		transform none

@keyframes swipeIn
	from
		opacity 0

	to
		opacity 1

.container
	display flex
	height 340px
	width 230px

.item
	fadeIn(.9s)
	background-position center
	background-repeat no-repeat
	background-size cover
	border-radius 2px
	box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
	cursor pointer
	display flex
	flex-direction column
	height 300px
	justify-content flex-end
	left 15px
	position relative
	top 20px
	transition all .2s ease
	width 200px
	overflow hidden

	&:hover
		height 330px
		left 6px
		top 5px
		width 220px

		& > .description
			animation-delay .2s
			animation-duration .1s
			animation-fill-mode both
			animation-name swipeUp
			display block

			& > .svg
				animation-delay .2s
				animation-duration .1s
				animation-fill-mode both
				animation-name swipeIn

.description
	display none
	align-items flex-start
	border-bottom-left-radius 2px
	border-bottom-right-radius 2px
	height 70%
	position relative

.overlay
	background-color rgba(255, 255, 255, .5)
	position absolute
	width 100%
	height 100%
	z-index 10
	display flex
	flex-direction column
	padding 20px

.svg
	position absolute
	top 0
	left 0

.title
	color #222
	margin-bottom 10px
	font-weight 700

.tagline
	color #666
	font-size .9em

.genres
	display flex
	flex-direction column
	margin-top 10px
	width 100%

.genre
	color #333
	font-size .9em
