.container
	display flex
	text-decoration none
	border 1px solid #9F9F9F
	padding 0 40px
	height 42px
	align-items center
	border-radius 21px
	font-size 18px
	transition all .2s ease-in-out

	&:hover
		background-color rgba(255, 255, 255, .2)
