@import '../../mixins/animate'
@import '../../variables'

.container
	fadeIn(.7s)
	background-position center
	background-repeat no-repeat
	background-size cover
	box-shadow 0 2px 4px 0 rgba(0, 0, 0, .5)
	display flex
	height $top-movie-height
	width 100%

.overlay
	align-items center
	background-color rgba(45, 45, 45, .7)
	display flex
	flex-direction column
	height $top-movie-height
	width 100%
	justify-content space-between
	padding 70px 0
	color #EFEFEF

.title
	font-size 34px
	margin-bottom 10px

.overview
	font-size .9em
	text-align center

.date
	color #AAA

.header
	display flex
	flex-direction column
	justify-content center
	align-items center

.footer
	display flex
	flex-direction column
	align-items center
	justify-content space-between
