$height = 460px;

.container
	background-position center
	background-repeat no-repeat
	background-size cover
	box-shadow 0 2px 4px 0 rgba(0, 0, 0, .5)
	display flex
	height $height
	width 100%
	margin-top 70px

.overlay
	align-items center
	background-color rgba(45, 45, 45, .7)
	display flex
	flex-direction column
	height $height
	width 100%
	justify-content space-between
	padding 70px 0
	color #EFEFEF

.title
	font-size 34px

.tagline
	font-size 16px

.date
	color #AAA

.header
	display flex
	flex-direction column
	justify-content center
	align-items center

.footer
	display flex
	flex-direction column
	align-items center
	justify-content space-between
