@import '../../mixins/placeholder'

.container
	align-items center
	background-color #222
	box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
	display flex
	height 70px
	justify-content center
	width 100%
	position fixed
	z-index 9

.content
	justify-content space-between

.name
	color #EEE
	font-size 24px
	line-height 26px

.search
	display flex
	height 31px
	width 400px

.svg
	position relative
	top 3px

.button
	background-color #EFEFEF
	border 0
	border-bottom-right-radius 15px
	border-top-right-radius 15px
	width 100px

	&:active
		outline 0

	&:disabled
		background-color #555

.input
	placeholder(#AAA)

	background-color #555
	border 0
	border-bottom-left-radius 15px
	border-top-left-radius 15px
	color #FFF
	flex-grow 1
	outline 0
	padding 0 16px
