@import '../../variables'
@import '../../mixins/animate'
@import '../../mixins/media'


.container
	fadeInDown(.3s)
	background-position center
	background-repeat no-repeat
	background-size cover
	box-shadow 0 2px 4px 0 rgba(0, 0, 0, .5)
	display flex
	height $top-movie-height
	width 100%

.overlay
	align-items center
	background-color rgba(45, 45, 45, .7)
	display flex
	flex-direction column
	height $top-movie-height
	width 100%
	padding 20px 0
	color #EFEFEF

.content
	display flex
	flex-direction column
	padding 0 35px

.poster
	border-radius 2px
	box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
	flex-shrink 0
	height 278px
	margin-right 25px
	width 185px

.movie
	display flex
	margin-top 20px

.description
	display flex
	flex-direction column

.title
	font-size 1.4em

.tagline
	color #AAA

.releasedate
	font-size .9em
	margin 10px 0

.overview
	color #CCC

.homepge
	align-self flex-start
	border-bottom 1px dashed #AAA
	color #CCC

.genres
	display flex
	flex-direction column
	padding 10px 0 20px

.genre
	font-size .9em


+media-mobile()
	.container, .overlay
		height auto

	.container
		fadeIn(.3s)

	.overlay
		padding 45px 0

	.back
		display none

	.movie
		align-items center
		flex-direction column

	.poster
		margin-bottom 30px

