@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'
@import '~@core/mixins/media'
@import '~@core/variables'

+media-retina()
    .container
        width $screen-retina

+media-desktop()
    .container
        width $screen-desktop

+media-tablet()
    .container
        width $screen-tablet

+media-mobile()
    .container
        width 100%

.container
    grid()
